* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

/* Navbar */

nav {
  width: 100%;
  max-width: 1298px;
  height: 86px;
  padding: 0px 10px 0px 10px;
  background-color: black;
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.navbar li {
  padding: 0 20px;
  max-width: 136px;
}

li:first-child {
  background-color: #ff6600;
  max-width: 136px;
  height: 66px;
  padding: 20px 40px 20px 40px;
  gap: 10px;
  border-radius: 60px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.center-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 40px;
  position: relative;
}

.center-logo .jcrea .author {
  transition: opacity 0.5s ease-in-out;
}

.jatesh {
  font-size: 13px;
  color: #c5cdd8;
  padding-right: 45px;
}

.center-logo .author {
  position: absolute;
  top: 0;
  left: 45px;
  opacity: 0;
  font-weight: bold;
  width: 150px;
  height: 400px;
  font-size: 20px;
}

.center-logo:hover .jcrea {
  opacity: 0;
}

.center-logo:hover .author {
  opacity: 1;
}

.center-logo .logo {
  max-width: 46px;
  margin-right: 10px;
}

.center-logo .jcrea {
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 13px;
}

/* Hero section */

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-section {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.hello {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.hero-text h1 {
  margin-top: 0;
  max-width: 913px;
  height: 192px;
  font-size: 95.57px;
  font-weight: 600;
  line-height: 95.57px;
  letter-spacing: -0.015em;
  text-align: center;
  margin-top: 10px;
  color: #171717;
}

.hero-text button {
  width: 103.98px;
  height: 45px;
  padding: 12.75px 25.49px 12.75px 25.49px;
  gap: 6.37px;
  border-radius: 38.24px;
  border: 1.27px solid #171717;
  opacity: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: relative;
}

.hero-text .up {
  position: absolute;
  top: 28px;
  left: 405px;
  width: 40px;
}

.highlight {
  color: #fd853a;
}

.hero-text .down {
  position: relative;
  top: 287px;
  left: -48px;
  width: 50px;
}

.hero-left {
  max-width: 328px;
  height: 138px;
  position: relative;
  left: 71px;
}

.hero-left p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.1px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #344054;
}

.hero-left img {
  width: 36px;
  height: 36px;
  margin-bottom: 14px;
}

.cta-buttons {
  width: 367px;
  height: 82px;
  border-radius: 50px;
  background: green;
  position: relative;
  top: 283px;
  left: 222px;
  background: #ffffff1a;
  border: 1px solid #c9a;
}

.btn_portfolio {
  width: 208px;
  height: 62px;
  border-radius: 60px;
  border: 0.5px;
  position: absolute;
  top: 10px;
  left: 6px;
  background: #fd853a;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

.btn_portfolio img {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn_hire {
  width: 129px;
  height: 54px;
  gap: 10px;
  border-radius: 60px;
  position: absolute;
  border: none;
  top: 14px;
  left: 218px;
  background: none;
  color: #ffffff;
  font-size: 25px;
}

.hero-right {
  width: 207px;
  height: 125px;
  position: relative;
  right: 71px;
}

.hero-right .rating {
  width: 160px;
  height: 32px;
  margin-bottom: 21px;
}

.hero-right .years {
  width: 169px;
  height: 47px;
  font-size: 47px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.015em;
  text-align: center;
}

.hero-right .exp {
  margin-left: 93px;
}

.hero-col {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 133px;
}

.hero-image {
  width: 952px;
  height: 536px;
  display: flex;
  position: relative;
}

.eclipse {
  width: 100%;
  max-width: 811px;
  height: 405px;
  position: absolute;
}

.women {
  width: 100%;
  max-width: 942px;
  height: 636px;
  position: absolute;
  top: -231px;
  left: -64px;
}

/* service section */

.service_section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.service {
  background-image: url(../images/bg.png);
  width: 100%;
  max-width: 1530px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  position: relative;
  margin: auto;
  border-radius: 50px;
  color: white;
}

.service-head {
  display: flex;
  justify-content: space-between;
  gap: 455px;
  padding-top: 120px;
  padding-right: 71px;
  position: relative;
}

.serv_span {
  color: #fd853a;
}

.service-heading h2 {
  max-width: 268px;
  height: 48px;
  font-size: 48px;
  position: relative;
  left: 117px;
}

.content p {
  max-width: 520px;
  height: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.1px;
  letter-spacing: -0.015em;
  text-align: left;
  position: relative;
  right: 34px;
}

.hr-line {
  width: 415px;
  position: absolute;
  top: 94px;
  color: #f9fafb4d;
  border: 0.11px solid;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 97px;
  gap: 25px;
}

.col {
  width: 416px;
  height: 508px;
  gap: 10px;
  position: relative;
}

.col .section2-left {
  width: 100%;
  border-radius: 37px;
}

.col h4 {
  position: absolute;
  width: 342px;
  height: 42px;
  gap: 0px;
  opacity: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 41.77px;
  letter-spacing: -0.015em;
  text-align: left;
  display: flex;
  top: 30px;
  padding-left: 35px;
}

.col .nav-btn {
  width: 114px;
  height: 114px;
  padding: 21px;
  gap: 10px;
  border-radius: 50%;
  position: absolute;
  top: 390px;
  right: 4px;
  background-color: #1d2939;
  border: none;
}

.navigate:hover {
  transform: rotate(45deg);
  background-color: #fd853a;
}

.navigate {
  position: absolute;
  width: 114px;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.navigation {
  width: 139.5px;
  height: 15.08px;
  gap: 11.31px;
  opacity: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 39px;
}

.line {
  width: 60.32px;
  height: 15.08px;
  gap: 0px;
  border-radius: 20.74px;
  opacity: 0px;
  background-color: #fd853a;
  position: absolute;
  left: -5px;
}

.circle2 {
  width: 15.08px;
  height: 15.08px;
  gap: 0px;
  border-radius: 20.74px;
  background-color: #e4e7ec;
  position: absolute;
  left: 86px;
}

.circle3 {
  width: 15.08px;
  height: 15.08px;
  gap: 0px;
  border-radius: 20.74px;
  background-color: #e4e7ec;
  position: absolute;
  left: 107px;
}

.circle1 {
  width: 15.08px;
  height: 15.08px;
  gap: 0px;
  border-radius: 20.74px;
  background-color: #e4e7ec;
  position: absolute;
  left: 65px;
}

/* Experience */

.experience {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 100px;
}

.experience h3 {
  max-width: 583px;
  height: 64px;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.015em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  color: #344054;
}

.exp-row {
  display: flex;
  flex-direction: row;
  max-width: 1, 298px;
  height: 438px;
  justify-content: space-between;
}

.exp-col {
  display: flex;
  flex-direction: column;
  max-width: 495px;
  height: 400px;
  gap: 48px;
  text-align: left;
  position: relative;
  left: 71px;
}

.exp-img-col img {
  max-width: 48px;
  height: 400px;
}

.exp-col2 {
  position: relative;
  right: 71px;
}

.exp-list {
  max-width: 495px;
  height: 40px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #344054;
}

.exp-desc {
  max-width: 216px;
  height: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #98a2b3;
  margin-top: 14px;
}

.service-text {
  margin-bottom: 50px;
}

.service-text2 {
  width: 444px;
  height: 132px;
  gap: 14px;
  margin-bottom: 45px;
}

.exp-desc2 {
  max-width: 444px;
  height: 78px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.1px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #98a2b3;
  margin-top: 14px;
}

.exp-list2 {
  max-width: 359px;
  height: 40px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #344054;
}
